@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  button[aria-current="page"] {
    @apply text-brand100;
  }
}
@layer components {
  .header-title {
    @apply lg:px-10 px-3 py-7 hover:text-brand100 hover:transition text-center hover:ease-out hover:duration-300  font-medium text-mono100;
  }
  .header-cate-title {
    @apply lg:px-6 px-3 py-7 flex justify-center items-center hover:text-brand100 hover:transition hover:ease-out hover:duration-300 focus:outline-none gap-1 text-sm font-medium text-mono100;
  }
  .menu-wh {
    @apply absolute top-16 left-0 w-auto h-auto origin-top-right bg-white shadow-lg focus:outline-none z-50;
  }
  .menu-items {
    @apply block px-7 py-4 text-sm text-gray-900 hover:bg-mono30 hover:text-brand100;
  }
  .register-input {
    @apply h-[40px] border-[1.5px] border-mono50 rounded-sm pl-3 focus:outline-none mt-2 text-xs;
  }
  .sorted-btn {
    @apply w-[87px] h-[35px] border border-mono50 border-collapse hover:bg-brand100 hover:text-white hover:transition hover:ease-out hover:duration-300 flex justify-center items-center cursor-pointer rounded-sm text-sm;
  }
  .card {
    @apply w-full h-14 absolute transition-all duration-500 items-center bg-gradient-to-r from-orange-500 via-yellow-400 to-pink-400 text-transparent bg-clip-text font-medium;
  }
  .ani-card {
    @apply w-[860px] h-full absolute transition-all duration-300 flex items-center;
  }
  .textEditor {
    @apply h-full;
  }

  .text-input {
    @apply focus:outline-none border-transparent focus:border-brand100 focus:ring-0;
  }
  .recipepage-edit-button {
    @apply sm:w-[100px] w-1/2 h-[35px] bg-brand100 text-white font-medium text-center rounded;
  }
  .recipepage-del-button {
    @apply sm:w-[100px] w-1/2 h-[35px] border-2 border-mono60 font-medium text-center rounded;
  }
  .recipepage-share-button {
    @apply sm:mr-5 last:mr-0 mr-4 sm:text-4xl text-3xl text-mono70;
  }
}
@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 0.5;
    transform: translateY(-30px);
  }
  95% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
.message {
  animation: messageFadeIn 2s ease-out;
}
